<%= form_for @subcategory, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "Nombre", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Categoría", :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank:"Seleccione una categoría"},{class:'text_field'}) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar', subcategories_path, :class => 'btn' %>
  </div>
<% end %>
