<%= form_for @image, :html => { multipart:true, :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "Nombre", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Imágen", :class => 'control-label' %>
    <div class="controls">
      <input type="file" id="image_file" name="image_file">
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Artículo", :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:article_id, Article.all, :id, :description, {include_blank:"Seleccione un artículo"},{class:'text_field'}) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar', images_path, :class => 'btn' %>
  </div>
<% end %>
